@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  html {
    scrollbar-gutter: stable;
    color: #444444;
    font-family: Poppins;
    cursor: default;
  }

  ::-webkit-scrollbar {
    width: 1rem;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #b6c6ce;
    border: 4px solid transparent;
    border-radius: 1rem;
    background-clip: content-box;
  }

  h1 {
    @apply text-2xl font-semibold sm:text-3xl;
  }

  h2 {
    @apply text-xl font-semibold sm:text-2xl;
  }
  h3 {
    @apply text-[1.375rem] font-semibold;
  }
}

@layer utilities {
  .text-24-sb {
    @apply text-2xl font-semibold;
  }
  .text-18-sb {
    @apply text-lg font-semibold;
  }
  .text-18-m {
    @apply text-lg font-medium;
  }
  .text-18-r {
    @apply text-lg font-normal;
  }
  .text-16-sb {
    @apply text-base font-semibold;
  }
  .text-16-m {
    @apply text-base font-medium;
  }
  .text-16-r {
    @apply text-base font-normal;
  }
  .text-14-sb {
    @apply text-sm font-semibold;
  }
  .text-14-m {
    @apply text-sm font-medium;
  }
  .text-14-r {
    @apply text-sm font-normal;
  }

  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}
